<footer class="footer">
  <div class="container">
    <h2 class="footer-title">Контакти</h2>
    <div class="footer-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2604.583443631877!2d28.4933533!3d49.2463864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472d5b44fb7c1ff1%3A0x21fcda0575f83dd0!2z0LLRg9C70LjRhtGPINCX0LDQvNC-0YHRgtGP0L3RgdGM0LrQsCwgNSwg0JLRltC90L3QuNGG0Y8sINCS0ZbQvdC90LjRhtGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgMjEwMDA!5e0!3m2!1suk!2sua!4v1687621431944!5m2!1suk!2sua"
        width="358"
        height="133"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="contacts-wrapper">
      <ul class="contacts-list">
        <li class="contacts-list__item">
          <a href="tel:+380971357201">+380(97) 135-72-01</a>
        </li>
        <li class="contacts-list__item">
          <a href="tel:+380964420000">+380(96) 442-00-00</a>
        </li>
        <li class="contacts-list__item">
          <a href="mailto:usproekt.pbo@gmail.com">usproekt.pbo@gmail.com</a>
        </li>
      </ul>
      <p class="contacts-address">Україна, м.Вінниця, вул. Замостянська 5а</p>
    </div>
    <ul class="socials-list">
      <li>
        <a class="socials-link" href="#">
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/svg/symbol-defs.svg#icon-facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials-link" href="#">
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/svg/symbol-defs.svg#icon-google"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="socials-link" href="#">
          <svg class="socials-icon" width="28" height="28">
            <use href="./images/svg/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
